<style>
    img {
        width: 150px;
        height: 150px;
    }
    h1 {
        text-align:center
    }
    a {
        color:black;
    }
    .table-primary,
    .table-primary>td,
    .table-primary>th {
        background-color: #353a40;
        color:white
    }

    .table-primary tbody+tbody,
    .table-primary td,
    .table-primary th,
    .table-primary thead th {
        border-color: #353a40;
    }

    .table-primary,
    .table tr {
        text-align: center;
        vertical-align: middle;
    }
</style>
<h1>{{title}}</h1>
<hr>

<div class="container">
    <table class="table table-fluid" id="myTable">
        <thead>
            <tr class="table-primary">
                <th data-orderable="false">Sort by:</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th data-orderable="false"></th>
                <th data-orderable="false"></th>
            </tr>
        </thead>
        <tbody>
            {{#each item}}
                <tr>
                    <td><a href="/view-details/{{itemSerial}}"><img src="/uploads/item_pictures/{{image}}"></a></td>
                    <td><a href="/view-details/{{itemSerial}}">{{itemName}}</a></td>
                    <td>S${{itemPrice}}</td>
                    <td>{{itemCategory}}</td>
                    <td></td>
                    {{#if (stockLevelCheck stockLevel)}}
                        <td>Out of Stock</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>