<style>
    .image1 {
        height: 300px;
        width: 300px;
    }
    img {
        height: 150px;
        width: 150px;
    }
    .container {
        text-align: center;
    }
    #addToCart {
        background-color: #353a40;
    }
    #thickLine {
        border: 5px solid #353a40;
    }
    #price {
        display: inline-block; 
    }
    a {
        color:black;
    }
</style>
<br>
<br>
<div class="container">
    <h2 style="text-align: center;">{{specificItem.itemName}}</h2>
    <div class="img-container">
    <img src= "/uploads/item_pictures/{{specificItem.image}}" class="image1">
    </div>
    <h3 id="price">Price: ${{specificItem.itemPrice}}</h3>
    <hr>
    <h5>{{specificItem.itemDescription}}</h5>
    <hr>
    <h4 id="sizeHead">Size</h4>
    <h6>Our one-size-fits-all sizing ensures that everyone fits snugly into our clothes</h6>
{{!-- <div class="form-check form-check-inline" >
    <input class="form-check-input" type="radio" id="sizeXS" value="XS" name="size" {{radioCheck user.size "XS"}}>
    <label class="form-check-label" for="sizeXS">XS</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="sizeS" value="S" name="size" {{radioCheck user.size "S"}}>
    <label class="form-check-label" for="sizeS">S</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="sizeM" value="M" name="size" {{radioCheck user.size "M"}}>
    <label class="form-check-label" for="sizeM">M</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="sizeL" value="L" name="size" {{radioCheck user.size "L"}}>
    <label class="form-check-label" for="sizeL">L</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="sizeXL" value="XL" name="size" {{radioCheck user.size "XL"}}>
    <label class="form-check-label" for="sizeXL">XL</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="sizeXXL" value="XXL" name="size" {{radioCheck user.size "XXL"}}>
    <label class="form-check-label" for="sizeXXL">XXL</label>
</div> --}}
<br>
<br>
    {{#if (stockLevelCheck specificItem.stockLevel)}}
        <button type="disabled" class="btn btn-secondary" id="addToCart" disabled>Out of Stock</button>
    {{else}}
        <form>
            <button type="submit" class="btn btn-primary" id="addToCart">Add to Cart</button>
        </form>
    {{/if}}
</div>
<hr>
<h6>All of our products are made with responsibly sourced cotton</h6>
<br>
<hr id="thickLine">
<h3>More Items</h3>
<hr id="thickLine">
<div class="container">
    <table class="table table-fluid" id="myTable">
        <tbody>
            {{#each allItems}}
                <tr>
                    <td><a href="/view-details/{{itemSerial}}"><img src="/uploads/item_pictures/{{image}}"></a></td>
                    <td><a href="/view-details/{{itemSerial}}">{{itemName}}</a></td>
                    <td>S${{itemPrice}}</td>
                    <td>{{itemCategory}}</td>
                    <td></td>
                    {{#if (stockLevelCheck stockLevel)}}
                        <td>Out of Stock</td>
                    {{else}}
                        <td></td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>