<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;}
    
</style>
<!DOCTYPE html>
    <html>
    <script src="/public/js/cart.js" async></script>
        <br>
        <div class="row">
            <div class="col-lg-8">
                <!-- Card -->
                <div class="card wish-list mb-3">
                    <div class="card-body">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Cart</div>
                        <div class="cart-row">
                            {{#if carts}}
								{{#each carts}}
									<h5>{{item.itemName}}</h5>
                                    <p class="mb-3 text-muted text-uppercase small">{{item.itemCategory}}</p>
                                    <p class="mb-2 text-muted text-uppercase small">{{item.itemPrice}}</p>
                                    <p class="mb-3 text-muted text-uppercase small">{{item.itemGender}}</p>
                                    <div class="def-number-input number-input safari_only mb-0 w-100" style="right: auto;">
                                        <button class="minus decrease"></button>
                                        <input class="quantity" min="0" name="quantity" value="${product.itemsNumber}" type="number">
                                        <button class="plus increase"></button>
                                    </div>
								{{/each}}
							{{else}}
								<p class="dropdown-item-text">Your cart is empty.</p>
							{{/if}}
                                <hr class="mb-4">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-3">
                    <div class="card-body">

                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">We accept</div>

                        <img class="mr-2" width="45px"
                        src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                        alt="">
                        <img class="mr-2" width="45px"
                        src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                        alt="Mastercard">
                        <img class="mr-2" width="45px"
                        src="https://img.icons8.com/color/48/000000/unionpay.png"
                        alt="UnionPay">
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4">

                <!-- Card -->
                <div class="card mb-3">
                    <div class="card-body">

                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Total amount</div>

                        <ul class="list-group list-group-flush">
                            <br>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>SingPost</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 px-0 mb-4">
                                <div class="cart-total">
                                    <strong class="cart-total-title">Total</strong>
                                    <strong>
                                        <p class="mb-0">(including GST)</p>
                                    </strong>
                                    <span class="cart-total-price" style="padding-left: 265px;">{{item.itemPrice}}</span>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-dark rounded-pill py-2 btn-block" onclick="window.location.href='checkout'">Continue to Checkout</button>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </html>