{{#if accounts}}
	<div class="card card-body">
		<h3 class="text-primary">Accounts</h3>
			<div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>Mobile Number</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each accounts}}
                            <tr>
                                <td>{{type}}</td>
                                <td>{{fname}}</td>
                                <td>{{lname}}</td>
                                <td>{{gender}}</td>
                                <td>{{dob}}</td>
                                <td>{{hp}}</td>
                                <td>{{address}</td>
                                <td>{{email}}</td>
                                <td>{{password}}</td>
                                <td><a href=""class="btn btn-warning">Update</a></td>
                                <td>
                                    <form action="" method="POST">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
	</div>

</div>
{{else}}
	<h3>No accounts registered.</h3>
{{/if}}