{{!-- discontinue item form --}}

<style>
    .btn {
        background-color: gray;
        color: white;
    }

    .btn:hover {
        background-color: white;
        color: maroon;
        border-color: maroon;
    }
</style>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-muted text-center">Discontinue</h3>

            <p>Item Serial: {{item.itemSerial}}</p>
            <p>Item Name: {{item.itemName}}</p>
            <p>Item Category: {{item.itemCategory}}</p>
            <p>Item Gender: {{item.itemGender}}</p>
            <p>Item Description: {{item.itemDescription}}</p>
            <hr>
            <p>** Note that discontinuing an item will prevent new stock orders. Existing stock will remain in inventory</p>

            <form method="POST" action="/staff/item/save-discontinue/{{item.itemSerial}}?_method=PUT">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn float-right">Submit</button>
            </form>

        </div>
    </div>
</div>