{{!-- view stock page --}}

<div class="container">
    <h2>Inventory</h2>
    <table class="table table-fluid" id="myTable">
        <thead>
            <tr class="table-primary">
                <th>Item Name</th>
                <th>Item Serial</th>
                <th>Item Category</th>
                <th>Item Gender</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Request Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each item}}
            <tr>
                <td>{{itemName}}</td>
                <td>{{itemSerial}}</td>
                <td>{{itemCategory}}</td>
                <td>{{itemGender}}</td>
                <td>{{itemQuantity}}</td>
                <td>{{itemStockStatus}}</td>
                <td><a href="" class="btn btn-warning">Request Stock</a></td>
            </tr>
            {{/each}}
            <tr>
                <td>Alice Top</td>
                <td>11111TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>80</td>
                <td>In Stock</td>
                <td><a href="" class="btn btn-secondary">Request Stock</a></td>
            </tr>
            <tr>
                <td>Zelly Top</td>
                <td>11111TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>80</td>
                <td>In Stock</td>
                <td><a href="" class="btn btn-secondary">Request Stock</a></td>
            </tr>
            <tr>
                <td>Diane Top</td>
                <td>11111TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>80</td>
                <td>In Stock</td>
                <td><a href="" class="btn btn-secondary">Request Stock</a></td>
            </tr>
            <tr>
                <td>Kendra Top</td>
                <td>11111TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>80</td>
                <td>In Stock</td>
                <td><a href="" class="btn btn-secondary">Request Stock</a></td>
            </tr>
            <tr>
                <td>Dean Bottom</td>
                <td>11111BM</td>
                <td>Bottoms</td>
                <td>Male</td>
                <td>30</td>
                <td>In Stock</td>
                <td><a href="" class="btn btn-secondary">Request Stock</a></td>
            </tr>
            <tr>
                <td>Caroline Top</td>
                <td>18611TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>80</td>
                <td>In Stock</td>
                <td><a href="" class="btn btn-secondary">Request Stock</a></td>
            </tr>
            <tr>
                <td>Bella Top</td>
                <td>22222TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>10</td>
                <td>Low In Stock</td>
                <td><a href="" class="btn btn-secondary">Request Stock</a></td>
            </tr>
            <tr>
                <td>FSDP Top</td>
                <td>11111TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>0</td>
                <td>No Stock</td>
                <td><a href="" class="btn btn-secondary">Request Stock</a></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>