{{!-- item list page --}}

<div class="container">
    <h2>Item List</h2>
    <table class="table table-fluid" id="myTable">
        <thead>
            <tr class="table-primary">
                <th>Item Name</th>
                <th>Item Serial</th>
                <th>Item Category</th>
                <th>Item Gender</th>
                <th>Item Cost</th>
                <th>Item Price</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {{#each item}}
            <tr>
                <td>{{itemName}}</td>
                <td>{{itemSerial}}</td>
                <td>{{itemCategory}}</td>
                <td>{{itemGender}}</td>
                <td>${{itemCost}}</td>
                <td>${{itemPrice}}</td>
                <td><a href="/staff/editItem/{{itemSerial}}" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

