{{!-- item list page --}}

<style>
    .table-primary,
    .table-primary>td,
    .table-primary>th {
        background-color: gray;
    }

    .table-primary tbody+tbody,
    .table-primary td,
    .table-primary th,
    .table-primary thead th {
        border-color: black;
    }

    .table-primary, .table tr{
        text-align: center;
        vertical-align: middle;
    }
</style>


<div class="container">
    <h2>Item List</h2>
    <table class="table table-fluid" id="myTable">
        <thead style="color: white;">
            <tr class="table-primary">
                <th>Item Name</th>
                <th>Item Serial</th>
                <th>Item Category</th>
                <th>Item Gender</th>
                <th>Item Price</th>
                <th>Status</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {{#each item}}
            <tr>
                <td>{{itemName}}</td>
                <td>{{itemSerial}}</td>
                <td>{{itemCategory}}</td>
                <td>{{itemGender}}</td>
                <td>${{itemPrice}}</td>
                <td>{{status}}</td>
                <td><a href="/staff/item/edit/{{itemSerial}}" class="btn btn-warning">Update</a></td>
                {{#if (discontinueCheck status)}}
                    <td>Discontinued</td>
                {{else}}
                    <td><a type="button" href="/staff/item/discontinue/{{itemSerial}}" class="btn btn-danger" disabled>Discontinue</a></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

