{{!-- item list page --}}

<div class="container">
    <h2>Item List</h2>
    <table class="table table-fluid" id="myTable">
        <thead>
            <tr class="table-primary">
                <th>Item Name</th>
                <th>Item Serial</th>
                <th>Item Category</th>
                <th>Item Gender</th>
                <th>Item Cost</th>
                <th>Item Price</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {{#each item}}
            <tr>
                <td>{{itemName}}</td>
                <td>{{itemSerial}}</td>
                <td>{{itemCategory}}</td>
                <td>{{itemGender}}</td>
                <td>${{itemCost}}</td>
                <td>${{itemPrice}}</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            {{/each}}
            <tr>
                <td>Alice Top</td>
                <td>11111TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$8.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Liona Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Minho Joggers</td>
                <td>33345BM</td>
                <td>Bottoms</td>
                <td>Male</td>
                <td>$7.00</td>
                <td>$50.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Caroline Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>FSDP Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$9.00</td>
                <td>$100.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Bella Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Anna Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Lola Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Bea Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Hershey Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Tika Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Mel Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Olli Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Sherpa Top</td>
                <td>12345TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr>
                <td>Zea Top</td>
                <td>55555TF</td>
                <td>Tops</td>
                <td>Female</td>
                <td>$5.00</td>
                <td>$10.00</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

