{{!-- view stock orders page --}}
<style>
    .table-primary,
    .table-primary>td,
    .table-primary>th {
        background-color: gray;
    }

    .table-primary tbody+tbody,
    .table-primary td,
    .table-primary th,
    .table-primary thead th {
        border-color: black;
    }

    .table-primary,
    .table tr {
        text-align: center;
    }
</style>

<h2>Inventory</h2>

<nav class="navbar-light">
    <a style="color:darkslategrey" href="/staff/inventory">Main</a>
    <a style="font-weight: bold; color:darkslategrey" href="#">Incoming Orders</a>
</nav>
<hr>

<div class="container">
    <table class="table table-fluid" id="myTable">
        <thead style="color: white;">
            <tr class="table-primary">
                <th>ID</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Shipment Date</th>
                <th>Received Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stockorder}}
            <tr>
                <td>{{id}}</td>
                <td>{{stockorderDate}}</td>
                <td>{{shipmentStatus}}</td>
                <td>{{shipmentDate}}</td>
                <td>{{receivedDate}}</td>
                {{#if (isReceived shipmentStatus)}}
                    <td>-</td>
                {{else}}
                <td><a href="/staff/inventory/stock/receive/{{id}}" class="btn btn-warning">Receive</a></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>