{{!-- view stock orders page --}}
<style>
    .table-primary,
    .table-primary>td,
    .table-primary>th {
        background-color: gray;
    }

    .table-primary tbody+tbody,
    .table-primary td,
    .table-primary th,
    .table-primary thead th {
        border-color: black;
    }

    .table-primary,
    .table tr {
        text-align: center;
    }

    .btn-add {
        border-color: gray;
    }

    .btn-add:hover {
        background-color: gray;
        color: white;
    }

    .inav {
        padding: 10px;
    }
</style>

<h2>Inventory</h2>

<ul class="nav" style="list-style-type: none;">
    <li class="nav-item inav">
        <a style="color:darkslategrey" href="/staff/inventory">Main</a>
    </li>
    <li class="nav-item inav">
        <a style="font-weight: bold; color:darkslategrey" href="#">Incoming Orders</a>
    </li>
    <li class="ml-auto">
        <button type="button" class="btn btn-add open-button" onclick="processiSerial()">Order Stock</button>
    </li>
</ul>
<hr>


<div class="container">
    <table class="table table-fluid" id="myTable">
        <thead style="color: white;">
            <tr class="table-primary">
                <th>ID</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Shipment Date</th>
                <th>Received Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stockorder}}
            <tr>
                <td>{{id}}</td>
                <td>{{stockorderDate}}</td>
                <td>{{shipmentStatus}}</td>
                <td>{{shipmentDate}}</td>
                <td>{{receivedDate}}</td>
                {{#if (receivedCheck shipmentStatus)}}
                <td>-</td>
                {{else}}
                <td><a href="/staff/inventory/stock/receive/{{id}}" class="btn btn-secondary">Receive</a></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function processiSerial() {
        var iSerial = prompt("Enter Item Serial to be Ordered");
        if (iSerial != null){
        var link = "/staff/inventory/stock/order/" + iSerial;
        location.assign(link)
        }
    }

</script>