{{!-- for admin view --}}

<div class="staffForms">
    <h1 class="display-4">Update Staff Details</h1>
    <hr class="titleHR">
    <form method="POST" action="/staff/saveStaff/{{user.id}}?_method=PUT">
        <input type="hidden" name="_method" value="PUT">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label class="font-italic">Account Type</label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="Staff" value="Staff" name="type" {{radioCheck user.type "Staff"}}>
                <label class="form-check-label" for="Staff">Staff</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="Admin" value="Admin" name="type" {{radioCheck user.type "Admin"}}>
                <label class="form-check-label" for="Admin">Admin</label>
            </div>
        </div>

        <div class="form-group">
            <label class="font-italic" for="fname">First Name</label>
            <input class="form-control" type="text" id="fname" name="fname" value="{{user.fname}}">
        </div>
        <div class="form-group mb-4">
            <label class="font-italic" for="lname">Last Name</label>
            <input class="form-control" type="text" id="lname" name="lname" value="{{user.lname}}">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label class="font-italic">Gender</label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sFemale" value="Female" name="gender" {{radioCheck user.gender "Female"}}>
                <label class="form-check-label" for="sFemale">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sMale" value="Male" name="gender" {{radioCheck user.gender "Male"}}>
                <label class="form-check-label" for="sMale">Male</label>
            </div>
        </div>

        <div class="form-group">
            <label for="sDOB">Date of Birth</label>
			<input type="date" class="form-control" id="sDOB" name="dob" value="{{user.dob}}">
        </div>
        <div class="form-group">
            <label for="sHP">HP</label>
			<input type="text" class="form-control" id="sHP" name="hp" value="{{user.hp}}" placeholder="6550 9999">
        </div>
        <div class="form-group">
            <label class="font-italic" for="sAddr">Address</label>
			<textarea class="form-control" id="sAddr" name="address" rows="3">{{user.address}}</textarea>
        </div>
        {{!-- <div class="form-group halfField">
            <label for="pw1">Password</label>
			<input type="password" class="form-control" id="pw1" name="password" value="" placeholder="">
        </div>
        <div class="form-group halfFieldPass">
            <label for="pw2">Confirm Password</label>
			<input type="password" class="form-control" id="pw2" name="pw2" value="" placeholder="">
        </div> --}}
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</div>
